/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    max-width: 1440px;
}

/* Görseller */
img {
    display: block; /* Görseller için display: block */
    max-width: 100%;
    height: auto;
}

/* Container */
.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.site-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    gap: 40px;
}

.nav-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

.nav-item .link {
    font-size: 16px;
    color: #2e2f42;
}

.contact-list {
    display: flex;
    gap: 40px;
}

/* First Section */
.first-section {
    padding: 188px 0;
    background-color: #2e2f42;
}

.first-section__title {
    max-width: 496px;
    font-size: 56px;
    color: #ffffff;
    margin: 0 auto 20px;
    text-align: center;
}

.first-section__btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.first-section__btn:hover {
    background-color: #404bbf;
}

/* Second Section */
.second-section {
    padding: 120px 0;
}

.second-section ul {
    display: flex;
    gap: 24px;
}

.second-section li {
    width: calc((100% - 72px) / 4);
}

.second-section__list-title {
    font-size: 20px;
    margin-bottom: 8px;
}

/* Third Section */
.third-section {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.third-section__title {
    margin-bottom: 72px;
    font-size: 36px;
    text-align: center;
}

.third-section__list {
    display: flex;
    gap: 24px;
}

.list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.list-item h3 {
    text-align: center;
    margin-bottom: 8px;
}

.list-item p {
    text-align: center;
}

/* Fourth Section */
.forth-section {
    padding: 120px 0;
}

.forth-section__title {
    margin-bottom: 72px;
    font-size: 36px;
    text-align: center;
}

.forth-section__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.forth-section li {
    width: calc((100% - 72px) / 4);
}

.forth-section li div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* Footer */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 18px;
    color: #4d5ae5;
}

.footer-logo .logo-span {
    color: #ffffff;
}

.footer p {
    max-width: 264px;
    color: #f4f4fd;
    text-align: center;
}
